header {
             position: fixed;
             background-color: blue;
             top: 0px;
             left: 0px;
             width: 100%;
             height: 50px;
             font-size:40px;
             font-family: arial, sans-serif;
             color: white;
         }
         nav {
             margin-top: 50px;
             margin-bottom: 0px;
             background-color: lightblue;
             font-style:bold;
             font-size:20px;
         }
         nav li {
            display: inline;
         }
         section {
             float: left;
             width: 15%;
             height: 500px;
             background-color: gray;
             padding:5px;
             border: 5px;
              }
         aside {
             float: right;
             width: 80%;
             height: 500px;
             padding: 25px;
             border:25px;
             margin: 50;
         }
         footer {
             clear: both;
             background-color: green;
         }
         body {
             background-color: white;
             margin: 0px;
             }
