section {
           width: 250px;
           background-color: green;
           padding: 25px;
           border: 10px solid blue;
           margin: 25px;
           
}
.question{
  display:show;
  background-color:pink;
}
.answer{
  display:hover;
  visibility:hidden;
  background-color:blue;
}
