article {
           position: absolute;
           top: 0px;
           left: 0x;
           height: 160px;
           width: 80px;
           
           padding: 5px;
           border: 2px solid;
           border-radius: 10px;
           
           
}
div {
           position: relative;
           margin: 100px;
           float: left;
           height: 100px;
           width: 40px;
}
div:hover .question{
  display:none;
 
}
.answer {
    background-color:blue;
}
input:checked ~ .question {
           position: absolute;
           top:200;
           left: 62;
           background-color: pink;
           
}
.question {
           background-color: green;
}

