section {
           position: absolute;
           top: 0;
           left: 0;
           height: 100px;
           width: 100px;
           
           padding: 25px;
           border: 2px solid;
           border-radius: 10px;
           
           
}
nav {
           position: relative;
           margin: 20px;
           float: left;
           height: 10px;
           width: 10px;
}
nav:hover .question{
  display:none;
  background-color:pink;
}
.answer {
    background-color:blue;
}
.question {
           background-color: green;
}

