
.Heading {
color: green;
}
.Bulletpoint {
color: rgb(100,50,200);
font-style: italic;
font-family:"times new roman", serif;
}
.Subheading {
  color:#ff01ff;
  font-size: 20px;
}
.h1{
  color: darkred;
  font-family:verdana, sans-serif ;
  size: 12pt;
}
.colorhead{
  background-color:skyblue;
}
.colorbody1{
  background-color:lightyellow;
}
.colorbody2{
  background-color:lightpink;
}
body{
  background-image: url("http://media.npr.org/assets/img/2012/07/11/grocerygirl_wide-0acc5356c16636f6aa0c42016632ee61d4b11765.jpg");
  }
  
