
.Heading {
color: green;
}
.Bulletpoint {
color: rgb(100,50,50);
}
.h1{
  color: darkred;
  font-family:verdana, sans-serif ;
  font-style:italic;
  size: 12pt;
}
.colorhead{
  background-color:skyblue;
}
.colorbody1{
  background-color:lightyellow;
}
.colorbody2{
  background-color:lightpink;
}
