
.Heading {
color: green;
}
.Bulletpoint {
color: hotpink;
}
.h1{
  color: darkred;
  font-family:"verdana", sans-serif ;
  size: 12pt;
}
.colorhead{
  background-color:skyblue;
}
.colorbody{
  background-color:green;
}
